* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;

  background: transparent;

  font-family: inherit;
  text-decoration: none;
}

ol,
ul,
li {
  display: block;

  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a img {
  border: none;
}

button,
a {
  color: inherit;

  cursor: pointer;
}

textarea {
  resize: none;
}

button,
input,
textarea,
select {
  border-radius: 0;

  appearance: none !important;
  -webkit-appearance: none !important;
}

/* End of css reset */

:root {
  --primary: #666;
  --secondary: #fff;
}

* {
  font-family: "Roboto", sans-serif;

  body {
    background-color: var(--primary);
    header {
      position: fixed;
      z-index: 2;
      top: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 80px;
      background-color: var(--secondary);
      padding: 10px;
      box-shadow: 0 5px 5px -5px var(--primary);

      .account_balance {
        color: var(--primary);
        font-size: 36px;
        font-weight: bold;
      }

      button {
        width: 60px;
        height: 60px;
        background-color: var(--primary);
        border-radius: 100%;

        .menu {
          color: var(--secondary);
          font-size: 36px;
        }
      }
    }

    section {
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      max-width: 1200px;
      gap: 60px;
      background-color: var(--primary);
      padding-top: 110px;
      padding-left: 60px;
      padding-right: 60px;
      padding-bottom: 110px;
      justify-content: center;

      article {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        padding: 40px;
        max-width: 250px;
        box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.25);
        background-color: var(--secondary);

        .title {
          font-size: 18px;
          font-weight: 400;
          color: var(--primary);
          align-self: center;
          text-decoration: underline;
          margin-bottom: 10px;
        }

        .sub {
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 100%;
          width: 160px;
          height: 160px;
          font-size: 80px;
          font-weight: 400;
          background-color: var(--primary);
          color: var(--secondary);
          margin-bottom: 10px;
        }

        .text {
          font-weight: bold;
          align-self: center;
          font-size: 18px;
          color: var(--primary);
        }

        button {
          display: flex;
          align-items: center;
          justify-content: space-around;
          position: absolute;
          bottom: -25px;
          width: 160px;
          height: 50px;
          font-size: 14px;
          box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.25);
          border-radius: 25px;
          border: 1px solid var(--primary);
          background-color: var(--secondary);

          .arrow_forward {
            font-size: 36px;
            color: var(--primary);
          }

          button:hover {
            background-color: var(--primary);
            color: var(--secondary);
          }
        }
      }
    }
  }
}
